<div class="container">
    <h3>Users</h3>

      <table class="table">
        <tbody>
          <tr>
                <th> Email </th>
                <th> Gender </th>
                <th> Date of Birth </th>

          </tr>
    <%= form_tag bulk_email_users_path ,method: :post  do %>
    <%= submit_tag "add" %>
          <% @users.each do |user| %>
            <tr>
              <%= render 'user', user: user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
          
    </div>
  </div>
</div>
    